body {
    background:#fff;
}

.map-preview {
    width: 500px;
    height: 440px;
    background-color:transparent;
    margin-left:5px;
}

.macro-preview-container {
    width:505px;
}

.add-marker {
    float:right;
}
.marker-list-heading, .marker-list {
    padding-left:10px;
}