<div class="macro-preview-container dialog-panel">
    <div class="macro-preview-header">
        <span>Preview</span>
    </div>
    <div id="macro-browser-preview" class="macro-preview">
        <div id="map" class="map-preview"></div>
    </div>
</div>
<div class="aui macro-input-fields dialog-panel">
    <div class="macro-desc">Macro to embed a Google Map in the page.</div>
    <div id="form"></div>
    <button id="savebutton">save</button>
    <button id="debug">Debug</button>
</div>
<div class="clear"></div>
