<ul id="markers">
    <% _(markers.models).each(function(marker, i) { %> <li data-marker="<%- marker.cid %>">
        <span class="title"><%- marker.get('title') %></span>
        <button class="aui-button aui-icon aui-icon-small aui-iconfont-edit edit" data-marker="<%- marker.cid %>">Edit</button>
        <button class="aui-button aui-icon aui-icon-small aui-iconfont-remove remove" data-unicode="UTF+E00D" data-marker="<%- marker.cid %>">Remove</button>
</li> <% }); %>
</ul>